<div id="start">
<div class="textnbutton">
<div class="text">
<h1> iShop XL </h1>
<sub> Welcome to our online shop! </sub>
</div>
<button onclick="start()"> Start Purchasing </button>
</div>
</div>
<div id="shop">
<%if defined? name%>
  <a class="log" href="/profile">
    <%=name[0][0]%>
  </a>
  <%else%>
    <a class="log" href="/login">Log in</a>
    <%end%>
</div>
<script src="./js/script.js"></script>