body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#start{ 
        height: 100vh;  
        width: 100vw;  
        top: 0; 
        background: #c2e59c;
        background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4);
        background: linear-gradient(to right, #c2e59c, #64b3f4);
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 300;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.text h1{
    margin-top: 50%;
    color: white;   
    text-shadow: 2px 2px black;
    font-size: 62px;
    font-family: 'Roboto', sans-serif;

}

.text sub{
    color: white;
    font-style: italic;
    font-size: 18px;

}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.textnbutton{
    height: 100%;
    display: flex;
    justify-content: center;
}

button{
    position: fixed;
    bottom: 30%;
    border: solid black 1px;
    border-radius: 24px;
    background: linear-gradient(to right, #0575e6, #021b79);
    color: white;
    height: 65px;
    width: 220px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button:focus {outline:0;}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4);
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    box-shadow: 0 -2px 3px rgba(0,0,0,0.5);
    
}

#shop{
    position: absolute;
    top: 56px;
    z-index: 1;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

#header a{
    position: absolute;
    right: 24px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;  
    font-size: 24px; 
    color: white;   
}

.textnbutton{
    opacity: 0;
    animation: fadein  2s forwards;
}

#header h1{
    margin: 0;
    margin-left: 16px;
    padding: 0;
    text-shadow: 2px 2px black;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;   
}

#header{
    display: flex;
    width: 100vw;
    height: 56px;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4);
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    color: white;
    align-items: center;
}

.loginpage{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    position: absolute;
    top: 56px;
}


.login{
    width: 50%;
    display: flex;  
    justify-content: center;

    
}

.loginpage form{
    
}

.login form, .create form{
    display: flex;
    flex-direction:column;
    align-items: center;  
    font-family: 'Roboto', sans-serif;   
    font-size: 16px;  
    
}


.create{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create input, .login input{
    height: 54px;
    width: 260px;
    border: none;
    border-bottom: solid grey 1px; 
}

.loginpage input[type="text"]{
    bottom: 0;
}

.loginpage input[type="submit"]{
    margin-top: 16px;
    background: linear-gradient(to right, #0575e6, #021b79);
    border-radius: 6px;
    color: white;
}

@keyframes fadein {
    from {opacity: 0;;}
    to {opacity: 1;;}
}

@keyframes fadeInUp {
    0% {
      opacity: 1;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }