body{
    margin: 0px;
    padding: 0px;
    overflow:hidden;
}

/* Main page */
#start{ 
        height: 100vh;  
        width: 100vw;  
        top: 0; 
        background: #c2e59c;
        background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4);
        background: linear-gradient(to right, #c2e59c, #64b3f4);
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 300;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}



.text h1{
    color: white;   
    text-shadow: 2px 2px black;
    font-size: 62px;
    font-family: 'Roboto', sans-serif;

}

.text sub{
    color: white;
    font-style: italic;
    font-size: 18px;

}

.text{
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.textnbutton{
    height: 100%;
    display: flex;
    justify-content: center;
}

.textnbutton button{
    position: fixed;
    bottom: 30%;
    border: solid black 1px;
    border-radius: 24px;
    background: linear-gradient(to right, #0575e6, #021b79);
    color: white;
    height: 65px;
    width: 220px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button:focus {outline:0;}

#shop{
    display: flex;
    position: absolute;
    top: 56px;
    z-index: -1;
    background-color: white;
    width: 100vw;
    flex-wrap: wrap; 
    height: 91vh;
    justify-content: center;
    overflow: scroll;
    padding-top: 24px;

  
}
#log{
    position: absolute;
    top: 16px;
    right: 48px;
    z-index: 10000000;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none; 
    font-size: 18px;
}

#logout{
    position: absolute;
    border: none;
    color: red;
    top: 50px;
    right: -25px;
    font-size: 14px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    cursor: pointer;

}


.textnbutton{
    opacity: 0;
    animation: fadein  2s forwards;
}

.filters{  
    position: fixed;
    left: 24px;
    width: 15vw;
    height: 20vh;
    top: 15vh;
    background-color: #eee;
    border: solid #cdcdcd 1px;
}

.filters h1{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 6px;
}

.filters select{
    width: 50%;
    margin-left: 6px;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15vw;

}

.items h1{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
}

.items .tag{
    border-top: solid lightgray 1px;
    width: 100%;
    height: 24%;
    margin: 0px;
    padding: 0px;
    background-color: #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
}


#input{ 
    font-family: 'Roboto', sans-serif;
    background-image: url("/img/search.png");
    background-position: 10px 11px;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 40vw;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    height: 18px;
    top: 56px;
   
}

#table{
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-left: -16px;
    border-spacing: 10px;
    
}

#table td{
    box-sizing: border-box;
    flex-grow: 1;
    height: 243px;
    width: 227px;
    overflow: hidden;
    list-style: none;
    border: solid #cdcdcd 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 0;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: #e7e7e7;


    
}

#table td img{
    
    max-width: 100%;
    max-height: 85%;
}


/* Layout */

#header h1{
    margin: 0;
    margin-left: 16px;
    padding: 0;
    text-shadow: 2px 2px black;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;   
    cursor: pointer;
}

#header a{
    position: absolute;
    right: 36px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;  
    font-size: 24px; 
    color: white;   
}

#h{
    position: absolute;
    bottom:10px;
    left: 6px;
    z-index: 400;
    cursor: pointer;
}

#header{
    display: flex;
    width: 100vw;
    height: 56px;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4);
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    color: white;
    align-items: center;
    z-index: 100;
}
#header .material-icons{
    position: absolute;
    right: 12px;
    cursor: pointer;
}

/* Login page */

.loginpage{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    position: absolute;
    align-items: center;
  
}

.login{
    width: 50%;
    display: flex;  
    justify-content: center;  
}

.vl {
    border-left: 1px solid lightgray; 
    height: 375px;
    position: absolute;
    top:25%;
    left: 50%;
    margin-left: -3px;
}

.login form, .create form{
    display: flex;
    flex-direction:column;
    align-items: center;  
    font-family: 'Roboto', sans-serif;   
    font-size: 16px;  
    
}


.create{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.create input, .login input{
    outline: none;
    height: 32px;
    width: 260px;
    border: none;
    border-bottom: solid grey 1px; 
    font-family: 'Roboto', sans-serif;
}

.loginpage input[type="text"], .loginpage input[type="password"]{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
}

.loginpage input[type="submit"]{
    margin-top: 16px;
    background: linear-gradient(to right, #0575e6, #021b79);
    border-radius: 6px;
    color: white;
}

.fail{
    position: absolute;
    bottom: 180px;
   color: red;
}

@keyframes fadein {
    from {opacity: 0;;}
    to {opacity: 1;;}
}

@keyframes fadeInUp {
    0% {
      opacity: 1;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }

/* Purchase page */

.purchase{
    display: flex;
    position: absolute;
    z-index: -1;
    top: 56px;
    width: 100vw;
    height: 100vh;
    background-color: #e7e7e7;

}

.purchase img{
    position: absolute;
    width: 50%;
    height: 95vh;
}

.actions{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 15%;
    position: absolute;
    width: 40%;
    right: 0;
    background-color: #e7e7e7;
    height: 100%;
    text-align: flex-start;
    
}

.actions h1{  
    margin-bottom: 10px;
    padding: 0;
}
.actions sub{
    width: 31vw;
    font-size: 18px;
    color: #888;
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: solid #aaa 1px;
  
}

.actions select{
    height: 28px;
    width: 120px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.actions input{
    height: 22px;
    width: 116px;
    padding-left: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-left: 5%;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

.actions input[type=submit]{
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    border: solid black 1px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    height:36px;
    text-shadow: 1px 1px black;
    border-radius: 4px;
}

/* Profile page */

.profile{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.profile h1{
    
}
.profile table{
    border-collapse: collapse;
    border: 1px solid #ddd;

}

.cart{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-top: 10%;

}

.history{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    color: #696969;
}

.cart .finish{
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    margin-top: 2%;
    align-items: center;
    
}


.cart th, .history th{
    background-color: #f1f1f1;
}

.cart td, .cart th, .history td, .history th{
    text-align: left;
    padding: 8px;
}

.cart tr, .history tr{
    border-bottom: 1px solid #ddd; 
	display: table-row;
}

.cart table{
    width:90%;
}

.history table{
    width: 60%;

}

.cart input{
    font-size: 16px;
    color: #787878;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-left: 25%;
}

.finish input{
    background-color: #c2e59c;
    color: white;
    border: solid gray 1px;
    font-size: 18px;
    text-shadow: 1px 1px black;
}

/* Checkout page */

.checkout{
    font-family: "Roboto", sans-serif;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Error page */

.error{
    position: absolute;
    top: 56px;
    margin: 16px;
}